header {
  background-color: #30ac14;
  padding: 10px;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
body {
  background-color: #191919;
}
.navi {
  padding: 5px;
  margin: 25px;
  color: #e8fbe8;
}

.navi li {
}
